@import '~styles/variables';

$tag-background-color-dark-mode: #082032;

.tag {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  background-color: #e7eef3;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 0.8rem;
  color: $anchor-dark-color;
  margin-top: 0.2rem;

  @media (prefers-color-scheme: dark) {
    background-color: $tag-background-color-dark-mode;
    color: $body-color-dark-mode;
  }

  span {
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    color: $anchor-color;
    background-color: #ebf5f0;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      background-color: rgba($tag-background-color-dark-mode, 0.6);
      color: $body-color-dark-mode;
    }
  }
}
