.tag {
  font-size: 1.2rem;
  float: left;
  margin-right: 0.5rem;
  background-color: #e7eef3;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 0.8rem;
  color: #4e7aa1;

  &:hover {
    cursor: pointer;
    color: #33805b;
    background-color: #ebf5f0;
  }
}