@import '~styles/variables';

.tag {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  background-color: #e7eef3;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 0.8rem;
  color: $anchor-dark-color;
  margin-top: 0.2rem;

  span {
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    color: $anchor-color;
    background-color: #ebf5f0;
    text-decoration: none;
  }
}
