@import '~styles/variables';

.popularPostsPinned {
  box-shadow: $box-shadow;
  border-radius: 8px;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 30rem;
  
  h3 {
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 1rem;
  }

  .tabs {
    .titles {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $border-color;
      padding: 0 1.5rem;
      // background-color: rgba($border-color, 0.4);
    
      .title {
        font-size: 1.3rem;
        padding: 0.75rem;
        cursor: pointer;

        &.activeTitle {
          color: $anchor-color;
          border-bottom: 2px solid $anchor-color; 
        }
      }
    }
  }
}
