@import '~styles/variables';

.img-shadow {
  :global {
    .gatsby-resp-image-image {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
      border-radius: 8px;
    }
  }
}