@import '~styles/variables';

.postShareBottom {
  margin-right: 1rem;

  h4 {
    display: block;
    margin: 0 0 0.75rem 0;
  }
}

@media (max-width: $small-device-width) {
  .shareGroup {
    display: flex;
    justify-content: center;
  }
}
