@import '~styles/variables';

.simplePost {
  margin: 2.2rem 0;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 1rem 1rem 0.4rem 1rem;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  }

  h3 {
    margin: 0;
  }

  .subheader {
    margin: 0;
  }
}
