@import '~styles/variables';

.subheader {
  overflow: hidden;

  .published {
    font-style: italic;
    margin: 0 0 1rem 0.2rem;
  }

  .line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .commentsCount {
      white-space: nowrap;

      .icon {
        vertical-align: middle;
        margin-right: 0.5rem;
        width: 1.5rem;
        margin-bottom: -5px;
      }

      a {
        text-decoration: none;
      }
  
      .anchor {
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }

    .tags, .commentsCount {
      margin: 0.5rem 0;
    }
  }
}