@import '~styles/variables';

.subheader {
  overflow: hidden;

  .published {
    font-style: italic;
    margin: 0 0 1rem 0.2rem;
  }

  .line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: 0.4rem 0;
    }

    .commentsCount {
      white-space: nowrap;
      margin: 0.4rem 0 0.4rem 0.5rem;

      .icon {
        vertical-align: middle;
        margin-right: 0.5rem;
        width: 1.4rem;
        margin-bottom: -5px;
      }

      a {
        text-decoration: none;
      }
  
      .anchor {
        vertical-align: middle;
        text-decoration: underline;
      }
    }
  }
}