@import '~styles/variables';

.aboutAuthor {
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark-mode;
  }

  .profilePicture {
    flex: 0 0 100px;
    text-align: center;

    img {
      border-radius: 60px;
    }
  }

  .authorInfo {
    flex: 1 1 0%;
    padding: 1rem;

    h4 {
      margin: 0;
    }

    .description {
      margin: 0.6rem 0;
      font-size: 1.2rem;
    }

    .links {
      margin-bottom: 1rem;

      .icon {
        background-color: rgba($anchor-color, 0.9);
        vertical-align: middle;
        display: inline-block;
        border-radius: 4px;
        width: 1.3rem;
        height: 1.3rem;
        padding: 0.2rem 0.2rem;

        img {
          width: 100%;
        }
      }

      .text {
        font-size: 1.25rem;
        margin-left: 0.4rem;
        vertical-align: middle;
      }
    }
  }
}
