@import '~styles/variables';

.aboutAuthor {
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .profilePicture {
    flex: 0 0 100px;
    text-align: center;

    img {
      border-radius: 60px;
    }
  }

  .authorInfo {
    flex: 1 1 0%;
    padding: 1rem;

    h4 {
      margin: 0;
    }

    .description {
      margin: 0.6rem 0;
      font-size: 1.2rem;
    }
  }
}