@import '~styles/variables';

.aboutAuthor {
  box-shadow: $box-shadow;
  border-radius: 8px;
  overflow: hidden;
  padding: 1.5rem;

  :global {
    .gatsby-image-wrapper {
      border-radius: 8px;
    }
  }

  .authorInfo {
    h3 {
      margin: 1.5rem 0 1rem;
    }

    .description {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }

  .readMore {
    margin-top: 0.8rem;

    .links {
      display: block;

      .icon {
        background-color: rgba($anchor-color, 0.9);
        vertical-align: middle;
        display: inline-block;
        border-radius: 4px;
        width: 1.4rem;
        height: 1.4rem;
        padding: 0.25rem 0.25rem;

        img {
          width: 100%;
        }
      }

      .text {
        font-size: 1.4rem;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }
  }


}
