@import '~styles/variables';

.subscriptionForm {
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark-mode;
  }

  ul {
    padding-left: 30px;

    li {
      list-style-image: url('/icons/check.svg');
    }
  }

  p {
    font-size: 1.2rem;
  }

  .message {
    font-size: 1.2rem;
    padding: 0.5rem;

    h2 {
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }

  .subscribeFormLink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba($anchor-color, 0.9);
    color: white;
    font-weight: bold;
    font-family: $sans-serif-font-family;
    font-size: 1.1rem;
    cursor: pointer;
    height: 50px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 3px;

    &:hover {
      background-color: rgba($anchor-color, 1);
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $anchor-color;
    border-radius: 3px;
    overflow: hidden;

    .emailField {
      flex: 1 1 300px;

      .email {
        border: none;
        width: 100%;
        font-family: $serif-font-family;
        padding: 0 1rem;
        background-color: white;

        @media (prefers-color-scheme: dark) {
          background-color: $background-color-dark-mode;
          color: $body-color-dark-mode;
        }
      }
    }

    .submit {
      border: none;
      background-color: rgba($anchor-color, 0.9);
      color: white;
      font-weight: bold;
      font-family: $sans-serif-font-family;
      font-size: 1.1rem;
      cursor: pointer;
      flex: 1 1 100px;

      &:hover {
        background-color: rgba($anchor-color, 1);
      }

      &:disabled {
        cursor: default;
      }
    }

    .email,
    .submit {
      height: 50px;
      box-sizing: border-box;
    }

    .hiddenField {
      position: absolute;
      left: -5000px;
    }
  }

  .subscribersCount {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgba($body-color, 0.8);

    @media (prefers-color-scheme: dark) {
      color: $body-color-dark-mode;
    }
  }

  .subscriptionMessage {
    font-style: italic;
    padding: 0 0.5rem 0.5rem 0.5rem;

    .successIcon {
      width: 1.25rem;
      margin-right: 0.5rem;
    }
  }
}
