.subheader {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  small {
    font-style: italic;
    margin-right: 0.5rem;
    text-align: right;
    flex: 1 0 10rem;
  }
}