@import '~styles/variables';

.subheader {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  small {
    font-style: italic;
    text-align: right;
    flex: 1 0 10rem;
  }
}

@media (max-width: $small-device-width) {
  .subheader {
    flex-flow: column;

    small {
      margin-top: 0.5rem;
      flex-basis: auto;
      margin-left: auto;
    }

    .tags {
      width: 100%;
      justify-content: flex-start;
    }
  }  
}