@import '~styles/variables';

.excerpt {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $box-shadow;
  background: #fff;

  .content {
    padding: 1.2rem;
  
    h4 {
      margin: 0;
  
      a {
        font-size: 1.5rem;
      }
    }

    .description {
      font-size: 1.25rem;
      padding-top: 1rem;
    }
  }
  
  .tags {
    display: flex;
    flex-flow: wrap;
    margin-top: 1rem;
  }
}