.verticalGroup {
  position: fixed;
  top: 1rem;
  display: none;

  &.show {
    display: block;
  }

  a {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 900px) {
  .verticalGroup.show {
    display: none;
  }
}
