$body-color: rgba(black, 0.9);
$anchor-color: #33805b;
$anchor-dark-color: #2c445a;
$disabled-color: lightgray;
$twitter-brand-color: #1da1f2;
$facebook-brand-color: #3b5998;
$reddit-brand-color: #ff5700;
$github-brand-color: #333333;
$border-color: #dae4ed;

$small-device-width: 480px;

$mono-font-family: Roboto Mono, monospace;
$serif-font-family: 'EB Garamond', serif;
$sans-serif-font-family: 'Open Sans', sans-serif;

$box-shadow: inset 0 0 0 1px $border-color, 0 5px 15px -5px rgba(0, 0, 0, 0.1);

$sidebars-max-width: 1480px;
