$body-color: rgba(black, 0.9);
$body-color-dark-mode: #E7EAE9;

$anchor-color: #33805b;
$anchor-color-dark-mode: #77cda1;
$anchor-dark-color: #2c445a;

$disabled-color: lightgray;
$twitter-brand-color: #1da1f2;
$facebook-brand-color: #3b5998;
$reddit-brand-color: #ff5700;
$github-brand-color: #333333;
$border-color: #dae4ed;
$border-color-dark-mode: #333333;

$body-background-color: white;
$body-background-color-dark-mode: #121212;

$background-color-dark-mode: #2B2B2B;

$small-device-width: 480px;
$medium-device-width: 900px;
$large-device-width: 1480px;

$mono-font-family: 'Roboto Mono', monospace;
$serif-font-family: Georgia, serif;
$sans-serif-font-family: 'Open Sans', Helvetica, sans-serif;

$box-shadow: inset 0 0 0 1px $border-color, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
$box-shadow-dark-mode: inset 0 0 0 1px $border-color-dark-mode, 0 5px 15px -5px rgba(255, 255, 255, 0.1);
