$body-color: #373D3F;
$anchor-color: #33805b;
$disabled-color: lightgray;
$twitter-brand-color: #1DA1F2;
$facebook-brand-color: #3B5998;
$reddit-brand-color: #ff5700;
$border-color: #dae4ed;

$small-device-width: 480px;