.widget {
  font: normal normal normal 11px/18px 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  margin-top: 0.5rem;
}

.count,
.btn,
.btn .label,
.btnO,
.countO {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

.btnO {
  max-width: 100%;
}

.btn {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #4267B2;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.rtl .btn {
  padding: 1px 6px 1px 8px;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #0c7abf;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

.xl .btn:active {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
}

.btn i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
  background-size: 22px 22px;
  background-position: center;
  background-image: url('/icons/like.svg');
}

.btn .label {
  margin-left: 3px;
  white-space: nowrap;
}

.btn .label b {
  font-weight: 500;
  white-space: nowrap;
}

.aria {
  position: absolute;
  left: -999em;
}