@import '~styles/variables';

.subheader {
  overflow: hidden;

  .line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: 0.4rem 0;
    }

    .right {
      white-space: nowrap;
      margin: 0.4rem 0 0.4rem 0.5rem;

      .published {
        font-style: italic;
        font-size: 80%;
      }
    }
  }
}
