@import 'styles/variables.scss';
@import './twoslash.scss';

.postCover {
  margin: 1.5rem 0;

  img {
    border-radius: 5px;
  }
}

.delimiter {
  padding: 2rem 0;
  border-top: 1px solid $border-color;
}

.shareGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;

  .shareBottom,
  .postEdit {
    margin: 0.5rem 0;
  }

  .postEdit {
    min-width: 11rem;
  }
}

.postContent {
  word-wrap: break-word;

  table {
    border-collapse: collapse;

    td, th {
      border: 1px solid $disabled-color;
      padding: 0.25rem;
    }
  }

  ol {
    p {
      margin: 0.5rem 0;
    }
  }

  a[href^="https://codesandbox.io"] {
    padding-left: 30px;
    background: left center / 25px no-repeat url('/icons/codesandbox.svg');
  }

  a[href^="https://jsfiddle.net"] {
    padding-left: 30px;
    background: left center / 25px no-repeat url('/icons/javascript-2.svg');
  }

  a[href^="https://www.typescriptlang.org/play"] {
    padding-left: 30px;
    background: left center / 25px no-repeat url('/icons/typescriptlang-icon.svg');
  }

  img[src$='.gif'], img[src$='.svg'] {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;

    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }

  details summary {
    outline: none;
  }

  :global {
    .toc {
      background-color: rgba($border-color, 0.25);
      border-radius: 8px;
      padding: 1rem;
      padding-left: 1.5rem;

      @media (prefers-color-scheme: dark) {
        background-color: $background-color-dark-mode;
      }

      p {
        margin: 0;
        padding: 0;
      }

      a {
        color: $anchor-dark-color;

        @media (prefers-color-scheme: dark) {
          background-color: $background-color-dark-mode;
          color: $anchor-color-dark-mode;
        }
      }

      ul,
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      > h3 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      > ul {
        > li {
          padding: 0.2rem 0;

          > a,
          > p > a {
            font-size: 1.5rem;
          }

          > ul > li {
            > a,
            > p > a {
              font-size: 1.3rem;
            }
          }
        }

        ul {
          margin-left: 3.5rem;

          @media (max-width: $small-device-width) {
            margin-left: 1.5rem;
          }

          a,
          p > a {
            font-size: 1rem;
          }
        }
      }

      &.table-layout {
        > ul {
          display: flex;
          flex-wrap: wrap;

          > li {
            flex: 1 0 17rem;
          }
        }
      }
    }
  }
}

.bottomSubscriptionForm {
  max-width: 500px;
  margin: 0 auto 2rem auto;

  h3 {
    font-size: 2rem;
  }
}

.authorInfoContainer {
  display: none;
}

article h1 {
  font-size: 180%;
  position: relative;
}

p, em, li, a, strong {
  > code {
    font-size: 17px;
    background-color: #f5f2f0;
    color: black;
    font-family: $mono-font-family;
    line-height: inherit;
    border-radius: .3em;
    padding: .1em;
    white-space: normal;

    @media (prefers-color-scheme: dark) {
      background-color: $background-color-dark-mode;
      color: inherit;
    }
  }
}

blockquote {
  background-position: left center;
  background-image: url('/icons/column.svg');
  background-repeat: no-repeat;
  background-size: 2.8rem;
  margin: 0;
  padding: 0.5rem;
  padding-left: 4rem;
  border-radius: 3px;

  @media (prefers-color-scheme: dark) {
    background-image: url('/icons/column-2.svg');
  }

  p {
    quotes: '“' '”' '‘' '’';
  }
  p:before {
    content: open-quote;
  }
  p:after {
    content: close-quote;
  }
}

.hidePostCover {
  display: none;
}

.showPostCover {
  display: initial;
}

.comments {
  min-height: 300px;
}

@media (max-width: 1080px) {
  .postCover {
    margin: 1rem 0;
    transform: none;
  }
}

@media (max-width: $small-device-width) {
  article h1 {
    font-size: 1.25em;
  }

  .shareGroup {
    flex-flow: column;
  }
}

@media (max-width: $large-device-width) {
  .authorInfoContainer {
    display: block;
  }
}
