.date {
  font-style: italic;
}

.postCover {
  margin: 90px 0;
  transform: scale(1.5);

  img {
    border-radius: 4px;
  }
}

code {
  font-size: 1rem;
  font-weight: bold;
}

code[class*="language-"], pre[class*="language-"] {
  line-height: 1.35;
  font-size: 0.9rem;
  border-radius: 3px;
}

pre code {
  font-weight: normal;
}

:global {
  .token.function {
    color: #883f44;
  }

  .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: inherit;
  }

  // Compatibility with old style of posts
  .try-it-container {
    a {
      float: right;
      font-size: 1rem;
      line-height: 1.0;

      &::before {
        content: 	'\25b6 ';
      }
    }
    .clear {
      clear: both;
    }
  }
}

@media (max-width: 1080px) {
  .postCover {
    margin: 1rem 0;
    transform: none;
  }
}