.date {
  font-style: italic;
}

.postCover {
  margin: 2rem 0;
}

article h1 {
  font-size: 1.8em;
}

code {
  font-size: 1rem;
  background-color: #f5f2f0;
  padding: 0 0.2rem;
  color: black;
  font-family: Roboto Mono, monospace;
}

code[class*="language-"], pre[class*="language-"] {
  border-radius: 3px;
  line-height: 1.2;
  code {
    font-family: Roboto Mono, monospace;
  }
}

pre[class*="language-"] {
  padding: 0.8rem;
}

blockquote {
  background-position: left center;
  background-image: url('/column.svg');
  background-repeat: no-repeat;
  background-size: 3rem;
  margin: 0;
  padding: 0.5rem;
  padding-left: 4rem;
  // background-color: rgba(55, 61, 63, 0.05);
  border-radius: 3px;
  
  p {
    quotes: "“" "”" "‘" "’";
  }
  p:before {
    content: open-quote;
  }
  p:after {
    content: close-quote;
  }
}

:global {
  .token.function {
    color: #883f44;
  }

  .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: inherit;
  }

  // Compatibility with old style of posts
  .try-it-container {
    a {
      float: right;
      font-size: 1rem;
      line-height: 1.0;

      &::before {
        content: 	'\25b6 ';
      }
    }
    .clear {
      clear: both;
    }
  }

  .size34 p > span {
    max-width: 3/4 * 740px !important;
  }
  
  .size12 p > span {
    max-width: 1/2 * 740px !important;
  }
}

@media (max-width: 1080px) {
  .postCover {
    margin: 1rem 0;
    transform: none;
  }
}