.skeleton {
  overflow: hidden;
  position: relative;
}

.skeleton::after {
  content: '';
  position: absolute;
  width: 300%;
  height: 100%;
  left: -200%;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(white, 0.4) 60%,
    rgba(white, 0) 63%,
    rgba(white, 0.4) 66%
  );
  animation-name: smoothLoadingAnimation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes smoothLoadingAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}