@import '~styles/variables';

header {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, .1);
}

.line {
  flex: 1 0 1px;
  width: 100%;
}

.headerContent {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.picture {
  float: left;
  width: 64px;
  border-radius: 64px;
}

.name, .speciality {
  padding-left: 1rem;
}

.name {
  font-weight: bold;
}

.speciality {
  font-size: 1rem;
}

.profileInfo {
  margin-right: auto;
  flex: 1 1 0;
}

.links {
  a {
    margin-left: 1rem;
  }
}

@media (max-width: $small-device-width) {
  .links {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
}