@import '~styles/variables';

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  box-shadow: $box-shadow;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  } 
}

.line {
  flex: 1 0 1px;
  width: 100%;
}

.headerContent {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.picture {
  float: left;
  width: 64px;
  border-radius: 64px;
}

.name,
.speciality {
  padding-left: 1rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.speciality {
  font-size: 1.1rem;
}

.profileInfo {
  margin-right: auto;
  flex: 1 0 200px;
}

.links {
  flex: 0 0 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem auto;

  a {
    margin: 0 0.4rem;
    font-size: 1.25rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
