@import '~styles/variables';

.excerpt {
  border-radius: 8px;
  box-shadow: $box-shadow;
  margin-top: 2rem;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  }
}

.content {
  padding: 0 2rem 2rem;

  h4 {
    margin: 1rem 0 0.6rem;

    a {
      font-size: 1.8rem;
    }
  }

  .description {
    margin: 1rem 0;
  }
}

.thumbnailAnchor {
  width: 92%;
  margin: 4%;
  display: block;

  img {
    width: 100% !important;
    border-radius: 4px;
  }
}

.continueReading {
  display: block;
  margin-top: 0.5rem;
}

@media (max-width: $small-device-width) {
  .excerpt {
    margin-top: 1.5rem;
    box-shadow: none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;

    &:last-child {
      border-bottom: none;
    }

    @media (prefers-color-scheme: dark) {
      border-bottom-color: $border-color-dark-mode;
    }
  }

  .content {
    padding: 0 0.5rem 2rem 0.5rem;
  }

  .thumbnailAnchor {
    width: 100%;
    margin: 0;
  }
}
