footer {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0,0,0,.1);
  font-size: 1.3rem;
}

.footerContent {
  min-height: 5.5rem;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;

  .footerNavigation {
    text-align: right;

    a {
      margin-right: 0.8rem;
    }
    a:last-child {
      margin-right: 0;
    }
  }
  
  .follow {
    font-style: italic;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    a {
      box-sizing: border-box;
      margin-right: 0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      display: inline-block;
      background-color: #33805b;
      border-radius: 4px;
      padding: 0.25rem;
  
      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0.6rem;
      }
  
      img {
        width: 1.3rem;
      }
    }
  }
}