@import '~styles/variables';

.listTab {
  display: none;
  padding: 1rem 1.5rem 1.5rem;
  
  &.active {
    display: block;
  }

  .item {
    align-items: center;
    padding: 0.7rem 0;
    display: flex;
    align-items: flex-start;

    .square {
      margin-right: 0.5rem;
      color: $anchor-color;
      font-size: 1.2rem;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .link {
      font-size: 1.3rem;
    }
  }
}