@import '~styles/variables';

.popularPosts {
  box-shadow: $box-shadow;
  border-radius: 8px;
  font-size: 1.3rem;
  padding: 1.5rem;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  }

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-top: 0.5rem;
    }
  }
}
