@import '~styles/variables';

.contactAuthor {
  box-shadow: $box-shadow;
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 1.5rem;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  }

  ul {
    padding-left: 30px;

    li {
      list-style-image: url('/icons/check.svg');
    }
  }

  p {
    font-size: 1.2rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .description {
    margin: 1rem 0;
  }

  .links {
    display: block;

    .book {
      background-color: rgba($anchor-color, 0.9);
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-family: $sans-serif-font-family;
      height: 50px;
      border-radius: 3px;
      font-size: 1.1rem;
      text-decoration: none;

      &:hover {
        background-color: rgba($anchor-color, 1);
      }

      .calendar-icon {
        display: none;
        width: 1.25rem;
        margin-right: 0.5rem;
      }
    }
  }
}
