@import '~styles/variables';

footer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba($border-color, 0.2);
  padding: 0.8rem;
  font-size: 1.3rem;
}

.footerContent {
  min-height: 5.5rem;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;

  .footerNavigation {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 0 0.5rem;
      font-size: 1.5rem;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .copyright {
    font-size: 1.2rem;

    .license {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  .follow {
    font-style: italic;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      box-sizing: border-box;
      margin-right: 0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      display: inline-block;
      background-color: rgba($anchor-color, 0.9);
      border-radius: 4px;
      padding: 0.25rem;

      &:hover {
        background-color: rgba($anchor-color, 1);
      }

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0.6rem;
      }

      img {
        width: 1.3rem;
      }
    }
  }
}

@media (max-width: $small-device-width) {
  .footerContent {
    flex-wrap: wrap-reverse;

    .links,
    .copyright {
      width: 100%;
    }

    .copyright {
      text-align: center;
      margin-top: 1rem;
    }

    .links {
      .footerNavigation {
        text-align: center;
      }

      .follow {
        justify-content: center;
      }
    }
  }
}
