@import '~styles/variables';

.popularPosts {
  box-shadow: $box-shadow;
  border-radius: 8px;
  font-size: 1.3rem;

  @media (prefers-color-scheme: dark) {
    box-shadow: $box-shadow-dark-mode;
  }

  h3 {
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 1rem;
  }

  .tabs {
    .titles {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $border-color;
      padding: 0 1.5rem;
      
      @media (prefers-color-scheme: dark) {
        border-bottom-color: $border-color-dark-mode;
      }
    
      .title {
        font-size: 1.3rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        &.activeTitle {
          color: $anchor-color;
          border-bottom: 2px solid $anchor-color; 
        }
      }
    }

    .listTab {
      display: none;
      padding: 1rem 1.5rem 1.5rem;
      
      &.active {
        display: block;
      }
    
      .item {
        align-items: center;
        padding: 0.7rem 0;
        display: flex;
        align-items: flex-start;
    
        .square {
          margin-right: 0.5rem;
          color: $anchor-color;
          font-size: 1.2rem;
        }
    
        &:last-child {
          padding-bottom: 0;
        }
    
        .link {
          font-size: 1.3rem;
        }
      }
    }
  }
}
