@import '~styles/variables';

.popularPosts {
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  font-size: 1.3rem;
  padding: 1.5rem;

  h2 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 25px;

    li {
      margin: 0.5rem 0;
    }
  }
}