@import '~styles/variables';

.popularPosts {
  box-shadow: $box-shadow;
  border-radius: 8px;
  font-size: 1.3rem;
  padding: 1.5rem;

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .list {
    .item {
      align-items: center;
      padding: 1rem 0;
      border-bottom: 1px solid $border-color;
  
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .link {
        font-size: 1.3rem;
      }

      .tagsAndComments {
        margin-top: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags {
          display: flex;
        }

        .commentsCount {
          text-align: right;
  
          .icon {
            vertical-align: middle;
            width: 1rem;
            margin-right: 0.25rem;
          }
  
          a {
            vertical-align: middle;
            font-size: 1rem;
            text-decoration: underline;
  
            line-height: 1.4;
          }
        }
      }
    }
  }
}
