@import '~styles/variables';

.subscribe {
  background-color: rgba($border-color, 0.4);
  border-radius: 8px;
  padding: 1rem;

  .subscribeForm {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $anchor-color;
    border-radius: 3px;
    overflow: hidden;

    .emailField {
      flex: 1 1 300px;

      .email {
        border: none;
        width: 100%;
        font-family: $serif-font-family;
        padding: 0 1rem;
      }
    }

    .submit {
      border: none;
      background-color: rgba($anchor-color, 0.9);
      color: white;
      font-weight: bold;
      font-family: $sans-serif-font-family;
      font-size: 1.2rem;
      cursor: pointer;
      flex: 1 1 100px;

      &:hover {
        background-color: rgba($anchor-color, 1);
      }
    }

    .email, .submit {
      height: 55px;
      box-sizing: border-box;
    }

    .hiddenField {
      position: absolute;
      left: -5000px;
    }
  }
}