name: Build and Deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'
      - name: Caching Gatsby
        id: gatsby-cache-build
        uses: actions/cache@v2
        with:
          path: |
            public
            .cache
          key: ${{ runner.os }}-gatsby-build-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-gatsby-build-
      - name: Install Dependencies
        run: npm install
      - name: Unit testing
        run: npm run test
      - name: Build
        run: npm run build
        env:
          MAILERLITE_KEY: ${{ secrets.MAILERLITE_KEY }}
          NODE_OPTIONS: "--max-old-space-size=4096"
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: dmitripavlutin-blog
          directory: 'public'
          branch: 'main' # Mark the branch as 'main' to create a production deployment in Cloudflare